.Cards{
   
    display: flex;
    
    justify-content: space-between;
   
    .Card{
    display: block;
    background-color: #F0F0F0;
    width: 260px;
    height: 150px;
    border-radius: 30px;
    padding: 20px;
    transition: 0.2s;
    &:hover{
        background-color: blue;
        color: #fff;
         transition: 0.2s;
    }
    @media screen and (max-width:1312px) {
        width: 200px;
        height: 130px;
    }
    @media screen and (max-width:1062px) {
        width: 150px;
        height: 110px;
        span{
            font-size: 25px !important;
            margin-top: 20px !important;
        }
        p{
            font-size: 18px !important;
            margin-top: 9px !important;
        }
    }
    @media screen and (max-width:826px) {
        width: 130px;
        height: 90px;
        span{
            font-size: 20px !important;
            margin-top: 20px !important;
        }
        p{
            font-size: 14px !important;
            margin-top: 9px !important;
        }
    }
    @media screen and (max-width:742px) {
        
        width: 100px;
        height: 80px;
        padding: 15px ;
    span{
        font-size: 17px !important;

    }
    p{
        font-size: 12px !important;
    }
    .Icon {
        width: 40px !important;
        height: 40px !important;
svg{
width: 20px !important;
}
    }
    }
    
    .Icon{
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    svg{
       width: 30px;
        align-items: center;
    }
    }
    .info{
        display: flex;
        font-size: 25px;
        width: 100%;
        justify-content: space-between;
        span {
            font-size: 30px;
margin-top:50px;
        }
        p{
            max-width: 70%;
            font-size: 20px;
            margin-top: 40px;
        }
    }
    
    }
    @media screen and (max-width:572px) {
        display: grid;
        grid-template-columns: 2fr 2fr ;
        justify-content: space-between;
       gap: 15px;
        .Card{
       width: 85% !important;
       height: 120px !important;  
       @media screen and (max-width:400px) {
        width: 137px !important;
        height: 100px !important;

    }
           span{
               font-size: 25px !important;
               margin-top: 30px !important;
           }
           p{
               font-size: 18px !important;
               margin-top: 15px !important;
           }
       
   
        }
       }
}