.CardReviews {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 11;
  justify-content: center;
  align-items: center;

  width: 100%;
  text-align: left;

  text-align: center;
  @media screen and (max-width:861px) {
  margin: 10px !important;   
  max-width: 95% !important;
  padding: 0 !important;     
    }
  
  .CardReviewsCard {
    max-width: 100%;

    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 20px;
    background: var(--WHITE, #FFF);
   
    .CardReviewsReviews {
      width: 100%;
      display: flex;
      padding-bottom: 10px;
      align-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.212);
      gap: 10px;
text-align: left !important;
      svg {
        width: 20px;
      }

      p {
        margin: 0;
        padding: 0;
        color: var(--DARK, #161616);
        font-family: Montserrat;
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .CardReviewsUser {
      display: flex;
      gap: 10px;
      text-align: left;
      align-items: center;
      justify-content: left;
      div {
        img {
          width: 50px;
          height: 50px;
        }
      }

      span {
        padding: 0;
        margin: 0;

        p {
          margin: 0;
          padding: 0;
        }

        samp {
          color: var(--DARK, #161616);
          font-family: Montserrat;
          font-size: 13px;
          opacity: 0.9;
          font-style: italic;
          font-weight: 600;
          line-height: 185%;
          /* 33.3px */

        }
      }
    }
  }

}

.CardReviewsInfo {
  color: var(--DARK);
  font-size: 15px !important;
  font-weight: 400;
  opacity: .7;
  text-align: left;
  @media screen and (max-width:1084px) {
    font-size: 13px !important;
  }

}
.buttons{
  display: flex;
  gap: 20px;
  width: 90%;
  @media screen and (max-width:1102px) {
    margin-left: -30px !important;
  }
  @media screen and (max-width:606px ) {
    position: absolute;
    margin-top: -55px;
    margin-left: 33px;
    
  }
  button{
    width: 50px;
    height: 50px ;
    border-radius: 50%;
    border: 1px solid BLUE;
    text-align: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    z-index: 11;
    display: grid;

    svg{
      text-align: center;
      align-items: center;
      display: grid;   
       padding: 2px;
  
      font-size: 30px;
      color: BLUE;
    }
  }

  justify-content: right;
}