@font-face {
  font-family: Montserrat;
  src: url(/public/fonts/Montserrat.ttf);
}
body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
 
}
.Contend{
  max-width: 1520px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 40px;
 
 
}
@media screen and (max-width:970px) {
.Contend{
  padding: 20px 20px;
}
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


